:root {
  --green: #009C56;
  --dark-green: #4F6C51;
  --gold: #F8C11E;
  --floral-white: #FDFBEF;
  --red-alert: #EA272F;
  --blue:#103352;  
  --radius: 10px;
}

.App {
  position: relative;
  max-width: 600px;
  margin: 0px auto;
}
@media only screen and (max-width: 600px) {
  .App {
    max-width: 100%;
  }
  .intro {
    font-size: 1.2em;
    position: relative !important;
  }
  .afronding {
    position: relative !important;
  }
  .afrondingResultaten {
    padding: 10px 10px 10px 10px !important;
  }
  .afronding .afrondingText {
    padding: 10px 10px 25px 10px !important;
  }
  .intro .introText {
    padding: 10px 10px 25px 10px !important;
  }
  .vraagOpties ul {
    padding: 10px 10px 10px 10px !important;
  }

}
.intro {
  position: fixed;
  padding: 0px 15px 0px 15px;
  top: 25%;
  text-align: center;
  user-select: none;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  min-width: 250px;
  right: 0;
  left: 0;
}

.intro .introText {
  background: var(--floral-white);
  padding: 25px;
  border-radius: var(--radius);
  color: var(--blue);  
  font-weight: 600;
  max-width: 600px;
  margin: 15px auto;
}

.intro .introStart {
  background: var(--green);
  color: var(--floral-white);
  cursor: pointer;
  line-height: 100px;
  max-width: 600px;
  padding: 25px;
  margin: 15px auto;
  text-align: center;
  border-radius: var(--radius);
  font-weight: 800;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {line-height: 95px; font-size: 1.3em;}
  50% {line-height: 105px; font-size: 1.4em;}
  100% {line-height: 95px; font-size: 1.3em;}
}

.afronding {
  position: fixed;
  max-width: inherit;
  padding: 0px 15px 0px 15px;
  top: 25%;
  text-align: center;
  user-select: none;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  min-width: 250px;
  right: 0;
  left: 0;
}

.afronding .afrondingText {
  background: var(--floral-white);
  padding: 25px;
  border-radius: var(--radius);
  color: var(--blue);  
  font-weight: 600;
  max-width: 600px;
  margin: 15px auto;
}
.afronding ul.afrondingResultaten {
  list-style-type: none;
  padding: 10px 25px 20px 25px;
  margin: 0px;
}
.afronding ul.afrondingResultaten li {
  background: var(--green);
  text-align: left;
  padding: 10px;
  margin: 0px 0px 5px 0px;
  border-radius: var(--radius);
  color: var(--floral-white);
  font-weight: 600;
}
.afronding ul.afrondingResultaten li.goud {
  background: var(--green);
}
.afronding ul.afrondingResultaten li.fout {
  background: var(--red-alert);
}
.afronding ul.afrondingResultaten li.goud .correct {
  display: inline-block;
}
.afronding ul.afrondingResultaten li.fout .incorrect{
  text-decoration: line-through;
  display: inline-block;
}
.afronding ul.afrondingResultaten li.fout .correct{
  font-style: italic;
  display: inline-block;
  padding-left: 10px;
}

.vraagKader {
  position: relative;
  max-height: 100%;
  user-select: none;

}
.vraagKader img {
  width: calc(100% - 30px);
  display: block;
  height: 100%;
  object-fit: cover;
  animation: fadeIn 2s;
  margin: 15px;
  max-width: 800px;
  border-radius: var(--radius);
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.vraagKader .imgPlaceholder {
  width: calc(100% - 30px);
  display: block;
  height: 300px;
  margin: 15px;
  max-width: 800px;
}

.vraagOpties {
  background: var(--floral-white);
  border-radius: var(--radius);
  bottom: calc(-100%);
  margin: 15px;
  animation: fadeInVraag 1s;
}

@keyframes fadeInVraag {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

.vraagOpties .vraag {
  padding: 15px 25px 0px 25px;
  font-size: 1.2em;
  color: var(--blue);
  font-weight: 600;
  text-align: center;
}

.vraagOpties ul {
  list-style-type: none;
  padding: 10px 25px 20px 25px;
  margin: 0px; 
}

.vraagOpties ul li {
  background: var(--green);
  text-align: left;
  padding: 10px;
  margin: 0px 0px 5px 0px;
  border-radius: var(--radius);
  color: var(--floral-white);
  font-weight: 600;
  cursor: pointer;
}

.vraagOpties ul li:last-child {
  margin: 0px 0px 10px 0px;
}

.vraagOpties ul li:hover {
  background: var(--dark-green);
}

.vraagOpties ul li:hover .antwoordNummer {
  color: var(--dark-green);
}

.vraagOpties ul li .antwoordNummer {
  display: inline-block;
  text-align: center;
  line-height: 20px;
  vertical-align: center;  
  background: var(--floral-white);
  color: var(--green);
  border-radius: var(--radius);
  padding: 5px;
  margin: 0px 10px 0px 0px;
  width: 20px;
  height: 20px;

}